---
services:
  syncthing:
    image: syncthing/syncthing:2.0.13
    container_name: syncthing
    restart: always
    user: "1000:1000"
    volumes:
      - syncthing_vol:/var/syncthing
      - notexyz_vol:/notexyz
    ports:
      - 22000:22000
      - 21027:21027/udp
      - 8384:8384
  notexyz:
    build:
      context: ..
      dockerfile: api/Dockerfile
    container_name: notexyz
    restart: always
    user: "1000:1000"
    depends_on:
      - syncthing
      - chrome
    ports:
      - 5000:5000
    volumes:
      - notexyz_vol:/notexyz:ro
      - notexyz_imgs_vol:/images
    environment:
      - NOTES_DIR=/notexyz
      - HEADLESS_ADDRESS=chrome:9222
  chrome:
    image: zenika/alpine-chrome
    container_name: chrome
    restart: always
    command:
      - --no-sandbox
      - --remote-debugging-port=9222
      - --remote-debugging-address=0.0.0.0
      - --remote-allow-origins=*
      - --window-size=400,300
      - about:blank

volumes:
  syncthing_vol:
  notexyz_vol:
  notexyz_imgs_vol: